@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');

:root {
  --color-de-fondo: #F5F5F5;
  --color-de-fondo-menu: #EAF2FD;
  --color-de-link: #464646;
  --color-de-boton: #2A7AE4;
  --font-h1:"Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-de-fondo);
  color: var(--color-de-link);
  font-family: var(--font-h1);
}

section {
  box-sizing: border-box;
}

header {
  height: 60px; /* Ajusta según el tamaño de tu header */
}
/* body {
  background-color: var(--color-de-fondo);
  color: var(--color-de-link);
  font-family: var(--font-h1);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.6;
} */

ol, ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-de-link);
  
}

/* ------ Menu ------ */
.header,
.presentacion,
.sobre-mi,
.habilidades,
.hobbies {
  padding: 16px;
}

/* .header {
  display: flex;
  
  text-align: center;
} */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.header__logo {
  max-width: 80px;
  max-width: 100%;
  height: auto;
}

.header__titulo {
  text-align: center;
  font-weight: bold;
}

.navegacion__lista {
  display: none;
}

/* ------ Sección presentación ------ */

.presentacion__foto {
  width: 98px;
  height: auto;
  border-radius: 50%;
}
.presentacion__titulo {
  font-weight: bold;
}

.redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.redes__img {
  font-weight: 600;
  
}

/* ------ Sección sobre mí ------ */

.sobre-mi {
  background-color: var(--color-de-fondo-menu);
}

/* .sobre-mi__titulo {
  font-weight: bold;
} */

/* ------ Sección habilidades y hobbies ------ */

.habilidades__titulo,
.hobbies__titulo,
.formacion__titulo,
.proyectos__titulo {
  text-align: center;
}

.habilidades__lista,
.hobbies__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.habilidades__elemento,
.hobbies__elemento {
  width: 156px;
  height: 118px;
  margin: 8px 0;
}

.habilidades__img,
.hobbies__img {
  width: 50px;
  max-width: 100%;
  height: auto;
}

/* ------ Sección hobbies ------ */


/* ------ Sección formación académica------ */

.formacion,
.contacto {
  background-color: var(--color-de-fondo-menu);
}

.formacion,
.proyectos,
.contacto,
.footer {
  padding: 32px;
}


.formacion__lista {
  display: flex;
  flex-direction: column;
}

.formacion__elemento__img {
  background-color: var(--color-de-fondo);
  width: 296px;
  height: 118px;
}

/* ------ Sección proyectos ------ */

.proyectos__elemento__img {
  width: 296px;
  height: 144px;
  max-width: 100%;
  height: auto;
}

.boton {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.proyectos__boton__repositorio {
  width: 108px;
  height: 40px;
  border-color: var(--color-de-boton);
  color: var(--color-de-boton);
}

.proyectos__boton__demo {
  width: 96px;
  height: 40px;
  background: var(--color-de-boton);
  color: var(--color-de-fondo);  
  
}

/* ------ Sección contacto ------ */

.contacto__formulario {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.contacto__campo {
  background-color: var(--color-de-fondo);
  height: 56px;
  width: 296px;
  margin: 32px;
  border-radius: 4%;
  margin: 16px 0;
}

.contacto__campo--textarea {
  height: 133px;
  border-radius: 4%;
  
}

.contacto__boton {
  background-color: var(--color-de-boton);
  width: 133px;
  height: 40px;
  align-self:flex-start;
}
/* ------ Footer ------ */

.footer {
  background-color: var(--color-de-fondo);
}

.footer__texto {
  text-align: center;
  color: var(--color-de-link);
}
/* ------ Responsividad ------ */

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }

}

/* Pantallas grandes */
@media (min-width: 1024px) {

  body {
    overflow-x: hidden; /* Evita el scroll horizontal en pantallas grandes */
  }
  .header {
    justify-content: space-between;
  }

  .header__contenedor {
    display: flex;

  }

  .navegacion {
    display: flex;
    text-align: end;
    
  }

  .navegacion__lista {
    display: flex;
    gap: 32px;
  }

  .header,
  .presentacion,
  .sobre-mi,
  .habilidades,
  .hobbies,
  .formacion,
  .proyectos,
  .contacto,
  .footer {
    padding: 0 16px;
  }

}