@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-de-fondo: #f7f7f7; /* Fondo sutil */
  --color-de-fondo-menu: #e0f7fa;;
  --color-de-boton: #006064; ;
  --color-de-link: #004d40; 
  --color-de-sombra: rgba(0, 77, 64, 0.4);
  --color-de-sombra-hover: rgba(0, 77, 64, 0.6);
  --color-de-fondo-proyectos:#b1c4cf;
  --color-de-fondo-contacto-a: #004d40;
  --color-de-fondo-contacto-b: #00796b;
  --color-de-fondo-contacto-boton: #1E7F4B;
  --color-de-fondo-contacto-boton-hover:#28A067;
  --color-de-contacto-boton:#FFFFFF;
  --color-de-borde:#ccc;
  --color-de-fondo-footer: #004d40;
  --color-de-footer-hover: #80cbc4;
  --color-de-copyright:#bbb;
  --font-h2:"Raleway", sans-serif;
  --font-p: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-de-fondo);
  color: var(--color-de-link);
  font-family: var(--font-p);
}

h2 {
  font-family: var(--font-h2);
}
section {
  box-sizing: border-box;
}

header {
  height: 60px; /* Ajusta según el tamaño de tu header */
}


ol, ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-de-link);
  padding: 8px 12px;  /* Aumenta el área de clic */
  font-size: 1.1rem;  /* Tamaño de texto más grande */
  margin: 4px 0;      /* Espaciado vertical entre enlaces */
}

/* ------ Menu ------ */
.header,
.presentacion,
.sobre-mi,
.habilidades,
.hobbies {
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.header__logo {
  width: 100px;
  height: auto;
  border-radius: 10%;
}


.header__titulo {
  text-align: center;
  font-weight: bold;
  display: none;
}

.navegacion__lista {
  display: none;
}

/* ------ Sección presentación ------ */

.presentacion__foto {
  width: 98px;
  height: auto;
  border-radius: 50%;
  display: none;
}
.presentacion__titulo {
  font-weight: bold;
}

.redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redes__img {
  font-weight: 600;
  
}

/* ------ Sección sobre mí ------ */

.sobre-mi {
  background-color: var(--color-de-fondo-menu);
}

/* ------ Sección habilidades y hobbies ------ */

.habilidades__titulo,
.hobbies__titulo,
.formacion__titulo,
.proyectos__titulo {
  text-align: center;
}

.habilidades__lista,
.hobbies__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.habilidades__elemento,
.hobbies__elemento {
  width: 156px;
  height: 118px;
  margin: 8px 0;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-de-sombra);
  text-align: center;
  transition: transform 0.3s ease; 
}

.habilidades__elemento:hover,
.hobbies__elemento:hover {
transform: translateY(-10px);
}

.habilidades__img,
.hobbies__img {
  width: 50px;
  max-width: 100%;
  height: auto;
}

/* ------ Sección formación académica------ */

.formacion,
.contacto {
  background-color: var(--color-de-fondo-menu);
}

.formacion,
.proyectos,
.contacto,
.footer {
  padding: 32px;
}

.formacion__contenedor {
  display: flex;
  justify-content: center;
}

.formacion__lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Permite que los elementos bajen de línea en pantallas pequeñas */
  justify-content: center;
  gap: 20px;
}

.formacion__elemento {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-de-sombra);
  text-align: center;
  transition: transform 0.3s ease; /* Animación en hover */
}

.formacion__elemento:hover {
  transform: translateY(-10px); /* Pequeño efecto al pasar el ratón */
}

.formacion__elemento__img {
  margin-bottom: 15px;
  align-content: center;
}

.formacion__img {
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* Mantendrá su proporción */
}

.datos__contenedor {
  padding: 10px 0;
}

.datos__nombre {
  font-size: 1.2rem;
  font-weight: bold;
}

.datos__institucion {
  font-size: 1rem;
}

/* ------ Sección proyectos ------ */

.proyectos {
  padding: 40px 20px;
  background-color: var(--color-de-fondo); /* Fondo claro para diferenciar la sección */
}

.proyectos__titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* Contenedor general */
.proyectos__contenedor ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

/* Lista de proyectos */
.proyectos__lista {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

/* Elemento individual */
.proyectos__elemento {
  background-color: var(--color-de-fondo-proyectos);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--color-de-sombra);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.proyectos__elemento:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px var(--color-de-sombra-hover);
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%; /* Div con la información toma 30% del espacio */
}

.proyectos__elemento__img {
  flex-basis: 70%; /* Imagen toma el 70% del espacio disponible */
  width: 100%; 
  height: auto;
}

.proyectos__boton {
  display: flex;
  gap: 16px;
}

/* Imagen del proyecto */
.proyectos__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Información del proyecto */
.informacion__nombre {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.boton {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.proyectos__boton__repositorio,
.proyectos__boton__demo {
  width: 120px; /* Aumenta el tamaño */
  height: 48px; /* Asegura que el área táctil sea adecuada */
  padding: 12px 16px; /* Espacio adicional */
  font-size: 1rem;
  border-radius: 6px;  /* Bordes más redondeados para un mejor toque */
  margin: 8px 0;  /* Espacio vertical entre botones */
  border: 2px solid var(--color-de-boton);
  color: var(--color-de-boton);
  background-color: var(--color-de-fondo);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.proyectos__boton__repositorio:hover {
  background-color: var(--color-de-boton);
  color: var(--color-de-fondo);
}

.proyectos__boton__demo {
  background: var(--color-de-boton);
  color: var(--color-de-fondo);  
  border-color: var(--color-de-boton);
}

.proyectos__boton__demo:hover {
  background-color: var(--color-de-fondo);
  color: var(--color-de-boton);
}

/* ------ Sección contacto ------ */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(135deg, var(--color-de-fondo-contacto-a), var(--color-de-fondo-contacto-b));
  gap: 20px;
}

.contacto__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  background-color: var(--color-de-fondo-proyectos);
  box-shadow: 0px 4px 12px var(--color-de-sombra);
  border-radius: 8px;
}

.contacto__img {
  
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 4px 12px var(--color-de-sombra);
  display: none;
}

.contacto__titulo {
  font-size: 2.5rem;
  margin-bottom: 16px;
  text-align: center;
}

.contacto__texto {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.contacto__formulario {
  display: flex;
  flex-direction: column;
  gap: 24px; /* Aumenta el espacio entre campos del formulario */
  width: 100%;
}

.contacto__campo {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--color-de-borde);
  border-radius: 8px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.contacto__campo:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.contacto__campo--textarea {
  height: 150px;
  resize: none;
}

.contacto__boton {
  padding: 12px;
  font-size: 1.2rem;
  background-color: var(--color-de-fondo-contacto-boton); /* Un verde con buen contraste */
  color: var(--color-de-contacto-boton);; /* Blanco para el texto */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contacto__boton:hover {
  background-color: var(--color-de-fondo-contacto-boton-hover);
  transform: scale(1.05);
}
/* ------ Footer ------ */

.footer {
  background-color:var(--color-de-fondo-footer);
  color: var(--color-de-contacto-boton);
  padding: 40px 20px;
  text-align: center;
}

.footer__contenedor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer__titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__descripcion {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-de-borde);
}

.footer__contacto, .footer__redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contacto__titulo, .footer__redes__titulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer__contacto__lista, .footer__redes__lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer__contacto__item, .footer__redes__item {
  color: var(--color-de-contacto-boton);
  text-decoration: none;
  transition: color 0.3s;
}

.footer__contacto__item:hover, .footer__redes__item:hover {
  color: var(--color-de-footer-hover);
}

i {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  margin-top: 40px;
  font-size: 0.8rem;
  color: var(--color-de-copyright);
}
/* ------ Responsividad ------ */

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
  .header {
    justify-content: flex-start;
  }


  .presentacion {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    align-items: center;
  }

  .presentacion__foto {
    width: 146px;
    height: 146px;
    display: block;
  }

  .formacion__lista {
    flex-direction: column; /* Cambia a disposición vertical en pantallas más pequeñas */
    align-items: center;
  }

  .formacion__elemento {
    width: 100%; /* Ocupará todo el ancho disponible en pantallas pequeñas */
    max-width: 400px; /* Ancho máximo para mantener proporción */
  }
 
  .header,
  .footer {
    padding: 16px 32px;
  }

  .presentacion,
  .sobre-mi,
  .habilidades,
  .hobbies,
  .formacion,
  .proyectos,
  .contacto {
    padding: 32px;
  }
  .footer__contenedor {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* Pantallas grandes */
@media (min-width: 1024px) {

  body {
    overflow-x: hidden; /* Evita el scroll horizontal en pantallas grandes */
  }
  .header {
    justify-content: space-between;
    height: 20% ;
  }

  .header__contenedor {
    display: flex;

  }

  .header__logo {
    width: 200px;
    height: auto;
    border-radius: 10%;
  }

  .navegacion {
    display: flex;
    text-align: end;
    
  }

  .navegacion__lista {
    display: flex;
    gap: 32px;
  }
  
  .presentacion {
     justify-content: space-evenly;
  }
  
  .presentacion__contenedor {
    align-content: center;
  }

  .presentacion__foto {
    width: 300px;
    height: auto;
  }

  .sobre-mi__contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .habilidades__contenedor,
  .hobbies__contenedor {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .formacion__lista {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 16px;
    
  }

  .formacion__lista {
    gap: 40px; /* Incrementa el espacio entre elementos */
  }

  .formacion__elemento {
    width: 300px; /* Aumenta el tamaño de los elementos */
    padding: 20px; /* Aumenta el espacio interior */
    margin-bottom: 30px; /* Mayor separación entre filas */
  }

  .formacion__img {
    width: 120px; /* Ajusta el tamaño de las imágenes para pantallas grandes */
  }

  .datos__nombre {
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
  }

  .datos__institucion {
    font-size: 1.2rem;
  }

  .proyectos__contenedor ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
  }

  .proyectos__elemento {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .proyectos__elemento:nth-child(2) {
    flex-direction: row-reverse;
  }

  .proyectos__elemento:nth-child(3) {
    flex-direction: row;
  }

  .contacto {
    flex-direction: row;
    justify-content: center; /* Ajusta los elementos a la izquierda */
    gap: 50px; /* Espacio entre imagen y formulario */
  }

  .contacto__img {
    display: inline; /* Muestra la imagen */
  }

  .contacto__contenedor {
    align-items: flex-start; /* Alinea el contenido a la izquierda */
  }
  
  .header,
  .footer {
    padding: 32px;
  }

  .presentacion,
  .sobre-mi,
  .habilidades,
  .hobbies,
  .formacion,
  .proyectos,
  .contacto,
  .footer {
    padding: 64px;
  }
}